---

---
<div class="content-container">
	<slot />
</div>

<style>
  .content-container {
    padding: 0 5%;
    max-width: 720px;
    margin: 0 auto;
  }
	.content-container :global(img) {
    width: 100%;
    height: auto;
  }

	@media only screen and (min-width: 800px) {
    .content-container {
      font-size: 1.125em;
    }
  }
</style>