// Config vars
$background: #fff
$blue: #7ba6d8
$purple: #936889
$white: #fff
$text: #333
$grey: #757575

$lighter-purple: lighten($purple,40%)

$max-width: 1440px

body
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  line-height: 1.5
  background: $background

h1
  font-family: 'Open Sans Condensed'
  font-weight: 300
  line-height: 1.125
  color: $purple

h2 
  font-family: 'Open Sans Condensed'
  font-weight: 700
  font-size: 1em
  line-height: 1.125
  color: $purple


a
  color: $blue

.site-nav-container
  max-width: $max-width
  margin: 0 auto

  .site-nav
    display: flex
    padding: 0 5%
    margin: 0 0 1em 0
    
    .nav-brand
      display: flex
      align-items: center

      .image
        margin: 1em 0 0 0

        img
          width: 96px

          @media only screen and (min-width: 360px)
            width: 128px


          @media only screen and (min-width: 480px)
            width: 196px            


    .nav-items
      text-align: right
      margin-left: auto

      .nav-lang
        font-size: 0.75em
        display: flex
        justify-content: flex-end
        
        @media only screen and (min-width: 480px)
          font-size: 0.875em

        .hideable-chars
          display: none

          @media only screen and (min-width: 720px)
            display: inline-block

        .nav-item
          color: $purple
          background: $lighter-purple
          padding: 1em 0.75em
          display: flex
          align-items: center
          transition: 0.25s background-color

          &:last-child
            border-radius: 0 0 16px 0

          &:first-child
            border-radius: 0 0 0 16px

          &:hover
            background: lighten($purple,31%)

          .flag-icon
            border-radius: 100%
            margin-right: 0.5em 

        .nav-item.active
          background: $purple
          color: $white

      .nav-start
        margin-top: 2em

        .nav-item
          margin-right: 0.25em
          font-family: 'Open Sans Condensed'
          font-weight: 700
          font-size: 1.125em
          line-height: 1.125          

          @media only screen and (min-width: 1140px)  
            margin-right: 1em              

          &:last-child
            margin-right: 0

        a
          padding: 0.5em
          color: $blue
          transition: background-color 0.25s
          border-radius: 4px
          background: lighten($blue,31%)

          @media only screen and (min-width: 1280px)  
            padding: 0.5em 1em

        a:hover
          background: lighten($blue,27%)
          text-decoration: none

        a.active
          color: $white
          background: $blue

        a.active:hover
          color: $blue
          background: lighten($blue,27%)

      .nav-item
        text-decoration: none
      
      .nav-item:hover
        text-decoration: underline

.index-container
  .intro
    justify-content: initial
    align-items: initial
    min-height: 56.1vh
    font-size: 0.875em
    align-items: center

    @media only screen and (min-width: 720px)
      font-size: 1em
    
    .intro-description
      max-width: ($max-width / 2) - ($max-width * 0.05)
      
      h1
        text-transform: uppercase

        @media only screen and (min-width: 768px)
          font-size: 4em

.intro.no-featured-image
  .content
    .intro-description
      background: none

.intro
  background: grey
  padding: 4em 0
  display: flex
  align-items: center
  min-height: 25vh

  .content
    margin: 0 5%
    max-width: ($max-width / 2) - ($max-width * 0.05)
  
  .intro-description
    box-sizing: border-box
    padding: 1em
    background: url(../img/walltexture3.png) rgba($purple,0.9)
    color: $lighter-purple
    display: inline-block

    @media only screen and (min-width: 720px)
      padding: 2em 2em

    @media only screen and (min-width: 1140px)
      padding: 2em 4em            

    h1
      margin: 0 0 0.33em 0
      color: $white
      font-size: 3em
      letter-spacing: initial

      @media only screen and (min-width: 1140px)
        margin: 0.5em 0 0.33em 0
      
    strong
      font-family: 'Open Sans Condensed'
      font-weight: 700
      color: $white
      letter-spacing: 0.015em

    a
      text-decoration: none
      color: $lighter-purple
      position: relative

      &:after
        content: ''
        position: absolute
        width: 100%
        height: 0
        left: 0
        bottom: 1px
        border-bottom: 1px dotted lighten($purple,30%)

    a:hover
      color: $white

      &:after
        border-bottom: 1px solid $lighter-purple

    @media only screen and (min-width: 720px)

      .button
        font-family: 'Open Sans Condensed'
        font-weight: 700
        color: $white
        letter-spacing: 0.015em
        text-decoration: none
        padding: 0.5em 0.625em
        margin-right: 0.25em
        background: $lighter-purple
        color: $purple
        transition: background-color 0.25s
        border-bottom: none

        &:after
          content: none

      .button:hover
        background: $white
        color: $purple

      .call-to-action
        margin-top: 2em

.posts
  display: flex
  flex-wrap: wrap
  margin-bottom: 2em

  .post-item-container
    width: 100%
    box-sizing: border-box
    display:  flex

    @media only screen and (min-width: 768px)
      width: 50%

    .post-item
      padding: 0 1em 1em 1em
      margin-bottom: 2em
      background: lighten($blue,31%)
      border-radius: 4px
      box-shadow: 0 3px 6px rgba($blue,0.12), 0 3px 6px rgba($blue,0.16)

      @media only screen and (min-width: 1140px)
        padding: 2em 4em

      p
        font-size: 0.875em

        @media only screen and (min-width: 1280px)
          font-size: 1em


      .image
        margin: 1em 0
        background: $blue
        height: 480px
        max-height: 240px

        img
          width: 100%
          height: auto
          object-fit: cover
      a
        color: $blue
        text-decoration: none
        display: block

      a:hover
        text-decoration: underline

      .post-item-title
        font-family: 'Open Sans Condensed'
        font-weight: 700
        font-size: 1.25em
        letter-spacing: 0.015em
                  
      .date
        font-size: 0.875em
        font-family: 'Open Sans Condensed'
        font-weight: 700
        letter-spacing: 0.015em
        color: $blue
        margin-bottom: 0

      p
        color: $text


  .post-item-container:nth-child(odd)
    padding-right: 1.25%

  .post-item-container:nth-child(even)
    padding-left: 1.25%


.page-container
  max-width: $max-width
  margin: 0 auto

  .page 
    
    .content
      padding: 0 5%

.header-container
  background: url(../img/walltexture3.png) $purple
  margin-bottom: 3em

.header
  max-width: $max-width
  margin: 0 auto

.section-title
  text-transform: uppercase
  letter-spacing: 0.015em  
  margin-top: 1em
  color: $purple

.site-footer-container
  background: $blue
  margin-top: 6em

  .site-footer
    max-width: $max-width
    margin: 0 auto

    .content
      padding: 2em 5% 3em 5%
      color: $white

    a
      color: rgba($white,0.675)
      text-decoration: none
      transition: color 0.25s

    a:hover
      color: rgba($white,1)
      text-decoration: underline

    a.active
      color: $white
      text-decoration: underline

    .footer-title
      font-family: 'Open Sans Condensed'
      font-weight: 300
      font-size: 1.5em
      letter-spacing: 0.015em
      text-transform: uppercase
      margin: 0 0 0.5em 0

      a
        color: $white

        &:hover
          text-decoration: none

    .nav-items
      display: flex
      flex-direction: column

      @media only screen and (min-width: 1140px)
        flex-direction: row

        align-self: 
          font-size: 0.875em

      .nav-start
        display: flex
        flex-direction: column

        @media only screen and (min-width: 1140px)
          flex-direction: row

        a
          margin-right: 2em
          margin-bottom: 1em

      .nav-lang
        @media only screen and (min-width: 1140px)
          margin-left: auto
          margin-top: 0 !important
          
          a
           margin-left: 1em

          a:last-child
            margin-right: -0.5em

      .nav-lang
        margin-top: 1em
        font-size: 0.875em

        a
          margin-right: 2em

.intro-title
  padding: 1.333333333333333em 5% 0.6666666666em 5%
  color: $white
  font-size: 3em
  letter-spacing: initial
  margin: 0
  text-transform: initial

.main-content-container
  .content
    padding: 0 5%
    max-width: ($max-width / 2)
    margin: 0 auto

    @media only screen and (min-width: 800px)
      font-size: 1.125em

  p
    margin: 1.5em 0

  .date
    font-size: 0.875em
    font-family: 'Open Sans Condensed'
    font-weight: 700
    letter-spacing: 0.015em
    color: $purple
    margin-bottom: 0

    
  blockquote
    font-size: 0.8888888888888889em
    margin: 1.5em
    border-left: 1px solid $purple
    padding-left: 1.5em
    color: $purple

  img
    width: 100%
    height: auto

.intro.no-featured-image
  background: none
  padding: 0
  min-height: initial
  align-items: center
  .content
    margin: 0

.posts-page-container .content
  margin: 3em auto 6em auto

.page
  .intro
    .content
      width: 100%
      max-width: ($max-width / 2)
      margin: 0 auto
      padding: 0 5%

    .intro-description
      padding: 1em 2em 2em 2em
      max-width: ($max-width / 2) - ($max-width * 0.1)

.hamburger-menu-container 

  .bm-overlay
    top: 0
    right: 0

  .bm-burger-button 
    width: 32px
    height: 28px
    position: relative
    display: inline-block

  /* Color/shape of burger icon bars */
  .bm-burger-bars 
    background: $blue

  /* Position and sizing of clickable cross button */
  .bm-cross-button 
    height: 32px 
    width: 32px

  /* Color/shape of close button cross */
  .bm-cross 
    background: $blue

  /* General sidebar styles */
  .bm-menu 
    background: lighten($blue,31%)
    padding: 2.5em 1.5em 0
    font-size: 1.15em
    overflow: hidden !important

    .bm-item-list 
      color: $blue
      padding: 0.8em
      text-align: left

  .bm-item 
    display: inline-block
    text-decoration: none
    margin-bottom: 0.8em

  .bm-item:hover
    text-decoration: underline

  .bm-overlay 
    background: rgba(0, 0, 0, 0.3)

  .bm-menu-wrap
    top: 0

.main-menu
  display: none



@media only screen and (min-width: 1024px)  
  .hamburger-menu-container 
    .bm-burger-button
      display: none

  .main-menu
    display: block